@using ClothesShop.WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Search by "@ViewBag.name"</h3>
<hr/>

@if(@Model.Products.Count() != 0) {
    <div class="row">
        @foreach (var product in @Model.Products)
        {
            @Html.Partial("ProductSummary", product)
        }

    </div>
}
else
{
    <p>Sorry, but no items found by your request.</p>
}


<div class="row text-center">
    <div class="btn-group">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
    </div>
</div>
<br />
