@model ClothesShop.Domain.Entities.Cart

<div class="navbar-right hidden-xs" style="margin-right: 20px; margin-left: 10px">
    <a href="@Url.Action("Index", "Cart", new {returnUrl = Request.Url.PathAndQuery})" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-shopping-cart"></span> </a>
    <a href="@Url.Action("Signin", "Account")" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span> </a>
</div>

<div class="navbar-right visible-xs">
    <a href=@Url.Action("Index", "Cart", new {returnUrl = Request.Url.PathAndQuery})
       class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
</div>

<div class="navbar-text navbar-right">
    <b class="hidden-xs">Your Cart:</b>
    @Model.Lines.Sum(x => x.Quantity) items,
    @Model.ComputeTotalValue().ToString("# €")
</div>


